* {
  box-sizing: border-box;
}


body {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
  padding-bottom: 5px
}
a:hover {
  color:#333;
  opacity: 0.5;
  border-bottom: 3px solid #333;
}
h2 {
  text-align: center;
	line-height: 1.0;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 40px;
	letter-spacing: 0.05em;
}


/* header */

header {
  width: 100%;
}
.heading {
  width: 100%;
  line-height: 70px;
  background-color: white;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 2;
}
.heading ul {
  text-align: right;
  padding: 0;
  margin: 0;
  list-style: none;
}
.heading ul li {
  display: inline-block;
  padding: 0 20px;
  line-height: 70px;
  font-size: 20px;
}


/* top */


.top {
  width: 100%;
  height: 1100px;
  background-image: url("../img/IMG_1454.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.name h2 {
  margin: 0;
  color: white;
  line-height: 1000px;
}


/* about */


.about h2 {
  margin: 0;
  margin-bottom: 60px;
  text-align: left;
}
.about p {
  margin: 0;
}
.logo{
  width: 100%;
  text-align: center;
}
.text {
  width: 100%;
}
.about {
  display: flex;
  margin: 0 auto;
  padding:100px 0;
}
.logo img {
  width: 300px;
}
.text p {
  font-size: 18px;
  margin-bottom: 16px;
}


/* twitter */


.btn-social-long-twitter {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 50px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-twitter .fa-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.btn-social-long-twitter span {
  display:inline-block;
  transition: .5s;
}

.btn-social-long-twitter:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}


/* instagram */


.btn-social-long-insta {
  /*ボタンの下地*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  position: relative;
  display: inline-block;
  height: 50px;/*高さ*/
  width: 50px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-insta:before {
  /*グラデーション②*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;/*全体を覆う*/
  height: 100%;/*全体を覆う*/
  background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
}

.btn-social-long-insta .fa-instagram {
  /*アイコン*/
  font-size: 35px;/*アイコンサイズ*/
  position: relative;
  top: 4px;/*アイコン位置の微調整*/
}

.btn-social-long-insta span {
  /*テキスト*/
  display:inline-block;
  position: relative;
  transition: .5s}

.btn-social-long-insta:hover span {
  /*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
.icon {
  padding: 40px 0;
}


/* skills */

.skills h2 {
  margin: 0;
  margin-bottom: 60px;
}
.skills p {
  margin: 0;
  font-size: 25px;

}
.contents-icon p {
font-size: 20px;
margin: 20px 0;
}
.contents1 {
  width: 100%;
}
.contents2 {
  width: 100%;
}
.contents3 {
  width: 100%;
}
.contents4 {
  width: 100%;
}
.container {
  display: flex;
  width: 100%;
  text-align: center;
}
.skills {
  text-align: center;
  padding-bottom: 100px;
}


/* contact */


.contact h2 {
  margin: 0;
  margin-bottom: 60px;
}
.form p {
  margin: 0;
}
input,textarea {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #dee7ec;
}
.form-submit {
  background-color: #dee7ec;
  color: #889eab;
}
.contact {
  width: 100%;
  padding-bottom: 40px;
}
.form {
  width: 500px;
  padding-left: 100px;
}

/* footer */
footer {
  height: 65px;
  text-align: center;
}
footer p {
  font-size: 10px;
  color: gray;
}
